body{
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu a{
  height: 5rem;
  line-height: 4rem;
  border-radius: initial;
  background: local;
}
.formingresa .form-control{
  height: calc(1.5em + 1rem) !important;
  border: 1.4px solid #c7c7c7  !important;
  padding: 1rem 5px !important;
}